// purple colors
$purple-1: #240046;
$purple-2: #3C096C;
$purple-3: #5A189A;
$purple-4: #7B2CBF;
$purple-5: #9D4EDD;
// /purple colors

// orange colors
$orange-1: #FF6D00;
$orange-2: #FF7900;
$orange-3: #FF8500;
$orange-4: #FF9100;
$orange-5: #FF9E00;
// /orange colors

